*,
html {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.box {
  text-align: center;
}

.fan-red {
  color: #e2231a;
}

.fan-darkred {
  color: #b3272d;
}

.fan-grey {
  color: #646469;
}

/* Mobile Library Grid Styles */
.grid-con {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: 30px;
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.full-width-grid-con {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}

.col-span-full {
  grid-column: 1/-1;
}

.col-start-1 {
  grid-column-start: 1;
}
.col-start-2 {
  grid-column-start: 2;
}
.col-start-3 {
  grid-column-start: 3;
}
.col-start-4 {
  grid-column-start: 4;
}

.col-end-1 {
  grid-column-end: 1;
}
.col-end-2 {
  grid-column-end: 2;
}
.col-end-3 {
  grid-column-end: 3;
}
.col-end-4 {
  grid-column-end: 4;
}
.col-end-5 {
  grid-column-end: 5;
}

@media screen and (max-width: 432px) {
  .grid-con {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 30px;
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .full-width-grid-con {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  }

  .col-span-full {
    grid-column: 1/-1;
  }

  .col-start-1 {
    grid-column-start: 1;
  }
  .col-start-2 {
    grid-column-start: 2;
  }
  .col-start-3 {
    grid-column-start: 3;
  }
  .col-start-4 {
    grid-column-start: 4;
  }

  .col-end-1 {
    grid-column-end: 1;
  }
  .col-end-2 {
    grid-column-end: 2;
  }
  .col-end-3 {
    grid-column-end: 3;
  }
  .col-end-4 {
    grid-column-end: 4;
  }
  .col-end-5 {
    grid-column-end: 5;
  }
}

/* Tablet Library Grid Styles */
@media screen and (min-width: 768px) {
  .grid-con {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .t-col-start-1 {
    grid-column-start: 1;
  }
  .t-col-start-2 {
    grid-column-start: 2;
  }
  .t-col-start-3 {
    grid-column-start: 3;
  }
  .t-col-start-4 {
    grid-column-start: 4;
  }
  .t-col-start-5 {
    grid-column-start: 5;
  }
  .t-col-start-6 {
    grid-column-start: 6;
  }
  .t-col-start-7 {
    grid-column-start: 7;
  }
  .t-col-start-8 {
    grid-column-start: 8;
  }
  .t-col-start-9 {
    grid-column-start: 9;
  }
  .t-col-start-10 {
    grid-column-start: 10;
  }
  .t-col-start-11 {
    grid-column-start: 11;
  }
  .t-col-start-12 {
    grid-column-start: 12;
  }

  .t-col-end-1 {
    grid-column-end: 1;
  }
  .t-col-end-2 {
    grid-column-end: 2;
  }
  .t-col-end-3 {
    grid-column-end: 3;
  }
  .t-col-end-4 {
    grid-column-end: 4;
  }
  .t-col-end-5 {
    grid-column-end: 5;
  }
  .t-col-end-6 {
    grid-column-end: 6;
  }
  .t-col-end-7 {
    grid-column-end: 7;
  }
  .t-col-end-8 {
    grid-column-end: 8;
  }
  .t-col-end-9 {
    grid-column-end: 9;
  }
  .t-col-end-10 {
    grid-column-end: 10;
  }
  .t-col-end-11 {
    grid-column-end: 11;
  }
  .t-col-end-12 {
    grid-column-end: 12;
  }
  .t-col-end-13 {
    grid-column-end: 13;
  }
}

/* Desktop Library Grid Styles */
@media screen and (min-width: 1200px) {
  .grid-con {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .l-col-start-1 {
    grid-column-start: 1;
  }
  .l-col-start-2 {
    grid-column-start: 2;
  }
  .l-col-start-3 {
    grid-column-start: 3;
  }
  .l-col-start-4 {
    grid-column-start: 4;
  }
  .l-col-start-5 {
    grid-column-start: 5;
  }
  .l-col-start-6 {
    grid-column-start: 6;
  }
  .l-col-start-7 {
    grid-column-start: 7;
  }
  .l-col-start-8 {
    grid-column-start: 8;
  }
  .l-col-start-9 {
    grid-column-start: 9;
  }
  .l-col-start-10 {
    grid-column-start: 10;
  }
  .l-col-start-11 {
    grid-column-start: 11;
  }
  .l-col-start-12 {
    grid-column-start: 12;
  }

  .l-col-end-1 {
    grid-column-end: 1;
  }
  .l-col-end-2 {
    grid-column-end: 2;
  }
  .l-col-end-3 {
    grid-column-end: 3;
  }
  .l-col-end-4 {
    grid-column-end: 4;
  }
  .l-col-end-5 {
    grid-column-end: 5;
  }
  .l-col-end-6 {
    grid-column-end: 6;
  }
  .l-col-end-7 {
    grid-column-end: 7;
  }
  .l-col-end-8 {
    grid-column-end: 8;
  }
  .l-col-end-9 {
    grid-column-end: 9;
  }
  .l-col-end-10 {
    grid-column-end: 10;
  }
  .l-col-end-11 {
    grid-column-end: 11;
  }
  .l-col-end-12 {
    grid-column-end: 12;
  }
  .l-col-end-13 {
    grid-column-end: 13;
  }
}
