/* General Styles */
body {
  margin: 0;
  padding: 0;
}

/* General Rules */
img,
embed,
object,
video,
picture {
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "voltune", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
}

h2 {
  font-family: "voltune", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: medium;
}

@font-face {
  font-family: "VOLTUNE";
  src: url("../font/VOLTUNE.woff") format("woff"),
    url("../font/VOLTUNE-Italic.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
}
