/* General Styles */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

/* General Rules */
img,
embed,
object,
video,
picture {
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "VOLTUNE", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
}

h2 {
  font-family: "VOLTUNE", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: large;
}

h3 {
  font-family: "VOLTUNE", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 25px;
}

@font-face {
  font-family: "VOLTUNE";
  src: url("../font/Voltune/VOLTUNE.woff") format("woff"),
    url("../font/Voltune/VOLTUNE-Italic.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamLight";
  src: url(../font/Gotham/GothamLight.ttf) format("ttf");
  font-weight: normal;
  font-style: normal;
}

/* Nav bar */
#header {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  padding: 20px 20px;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

#sticky-nav-con {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between elements */
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

#sticky-nav-con img {
  margin-left: auto;
  margin-right: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#navbar li {
  list-style: none;
  padding: 0 5px;
  position: relative;
  text-align: center;
}

#navbar li a {
  text-decoration: none;
  text-align: center;
  margin: 0 10px;
  font-family: sans-serif;
  font-size: 16px;
  color: #1a1a1a;
}

#header button {
  display: flex;
  width: 125px;
  padding: 10px 15px;
  justify-content: center;
  right: 0;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 22px;
  color: white;
  background: var(--Fan-Red, #e2231a);
}

/*Main Hero*/
.main-hero-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
  font-weight: 700;
  width: 100%;
}

.hero-text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 200px;
  width: 80%;
}

#hero-text-left {
  font-size: 40px;
  color: #666;
  text-align: left;
}

#hero-text-right {
  text-align: left;
}

.image-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 100%;
}

.image-overlay img {
  width: auto;
  max-width: 600px;
  height: auto;
  opacity: 0.7;
}

.hero-title {
  position: relative;
  z-index: 1;
}

.hero-title h1 {
  font-size: 150px;
  color: #000;
  font-weight: 300;
  line-height: 0.8;
}

.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-button button {
  display: flex;
  width: 136px;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 22px;
  border: 0.5px solid #65656b;
  cursor: pointer;
  background-color: transparent;
}

/*Industry night*/

.industry-night-container {
  padding: 0;
  width: 100%;
  margin: 0;
}
.industry-night-details {
  background-image: url("/images/Group-523.png");
  background-color: #1a1a1a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  padding: 0;
  margin-top: 0;
  position: relative;
  min-height: 100vh;
  height: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.industry-night-image-container {
  margin: 0;
  padding: 0;
  width: 100%;
}
.industry-night-text {
  padding: 20px;
  color: white;
}

.industry-night-details img {
  display: block;
  margin-left: 10%;
  margin-top: 3%;
  width: 80%;
}

/*Industry night text*/

.industry-night-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  gap: 70px;
}

.industry-night-left,
.industry-night-right {
  width: 20%;
  margin-bottom: 10px;
  text-align: left;
}

.industry-night-left h3,
.industry-night-right h3 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
  margin-top: 35%;
}

.industry-night-left p,
.industry-night-right p {
  font-size: 16px;
  line-height: 1.5;
  max-width: 300px;
  margin-top: 0;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 30px;
}
.industry-night-left {
  margin-left: 15%;
  position: relative;
}

.industry-night-right {
  margin-left: 25%;
  position: relative;
}
.event-detail-container {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 150px;
  margin-left: 10%;
}

.event-detail-date,
.event-detail-schedule,
.event-detail-venue {
  width: 20%;
  margin-bottom: 10px;
  text-align: left;
  color: white;
}

.event-detail-date h3,
.event-detail-schedule h3,
.event-detail-venue h3 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
  margin-top: 35%;
}

.event-detail-date p,
.event-detail-schedule p,
.event-detail-venue p {
  font-size: 16px;
  line-height: 1.5;
  max-width: 300px;
  margin-top: 0;
  margin-left: 0;
  margin-right: auto;
  font-stretch: expanded;
}

.event-detail-date h4,
.event-detail-schedule h4,
.event-detail-venue h4 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: #636466;
}
.event-detail-venue p {
  justify-content: center;
  text-align: left;
}

/*Coorperation objective*/
.title-container {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 10 px;
  min-height: 100vh;
  width: 100%;
  justify-content: flex-start;
  background-image: url("/images/Srishti_Foundation_Section.png");
  background-size: cover;
}
.subject-title-container {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 100px;
  padding: 3%;
  color: white;
}
#cooperation h2 {
  font-size: 50px;
  padding-left: 30px;
}

#objective {
  padding-right: 30px;
  font-size: 40px;
  color: black;
}

.foundation-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: white;
}
#foundation-title {
  align-content: center;
  justify-content: center;
  font-size: 30px;
  padding-top: 10%;
}
#foundation-subtitle {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  margin: 50px 20px;
}

#foundation-subtitle h3 {
  font-family: Gotham;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  letter-spacing: 0.4px;
  margin: 20px;
}
#foundation-title {
  font-size: 300px;
  margin: 0;
  line-height: 1.2;
  text-align: center;
  padding-top: 400px;
  margin-left: 20px;
}

.foundation-description {
  font-size: 20px;
  max-width: 800px;
  margin-top: 20px;
  padding-bottom: 20%;
  margin: 20px 20px;
}

.subject-title-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  color: white;
  margin-top: 50px;
}

/*The Crowning*/
.crowning-detail-container {
  padding-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 100%;
  padding: 40px 40px;
  text-align: left;
}

.crowning-content {
  padding-top: 6%;
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 100%;
  text-align: left;
}

.crowning-content h2 {
  font-size: 100px;
  margin-bottom: 20px;
}

.crowning-content h3 {
  font-size: 40px;
  margin-bottom: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 30%;
}
.crowning-content p {
  font-size: 25px;
  max-width: 800px;
  padding-left: 70%;
}

.crowning-content-container h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

/* Finalist Section */

#finalist-content {
  overflow-x: auto;
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.finalist-content h2 {
  font-size: 50px;
  padding-left: 30px;
  padding-top: 50px;
}

.finalist-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: max-content;
  padding: 0 20px;
}

.finalist-box {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  min-width: 80%;
}

.finalist-box:first-child {
  width: 65vw;
}

.finalist-box:nth-child(2) {
  width: 35vw;
  overflow: hidden;
}

.finalist-box img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  display: inline-block;
}

.finalist-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.finalist-text {
  font-size: 24px;
  margin-bottom: 5px;
}

.finalist-members {
  font-size: 18px;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #444;
}

/*Honorable*/
#honorable-content {
  overflow-x: auto;
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.honorable-content h2 {
  font-size: 50px;
  padding-left: 30px;
  padding-top: 50px;
}

.honorable-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: max-content;
}

.honorable-box {
  flex: 0 0 50%; /* Both boxes take up 50% of the container */
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  min-width: 80%; /* Ensure both boxes take at least half of the container width */
}

.honorable-box:first-child {
  width: 65vw;
}

.honorable-box:nth-child(2) {
  width: 35vw;
  overflow: hidden;
}

.honorable-box img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  display: inline-block;
}

/* Team information */
.team-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.team-text {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px;
}

.team-members {
  font-size: 16px;
  color: #333;
}

.button {
  display: inline-block;
  margin-top: 10px;
  margin-left: 2%;
  padding: 10px 20px;
  border-radius: 22px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #444;
}

/*Gallery*/
.top-row {
  display: flex;
  flex-direction: row;
  padding-right: 3%;
}
.down-row {
  display: flex;
  flex-direction: row;
}

.gallery-content {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.gallery-content img {
  size-adjust: 120%;
}
/*Testmonials*/

#testimonial-container {
  background-image: url("/images/testimonal_bkgd_layer.png");
  background-repeat: no-repeat;
  background-size: 1500px;
  padding-bottom: 150px;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 15px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.left-box,
.middle-box,
.right-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 2%;
}

.left-box,
.right-box {
  position: relative;
  margin-bottom: 10px;
  transform: translateY(130px);
  padding: 2%;
}

.testimonial-title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1%;
  align-items: flex-start;
}

.testimonial-title h2 {
  font-size: 100px;
  margin-left: 2%;
  color: white;
}

.testimonial-title h3 {
  font-size: 30px;
  margin-left: 50%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/*Testimonial card styling*/

.card {
  width: 368px;
  height: 520px;
  border-radius: 18px;
  background: #fff;
  padding: 20px 20px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.circle-top {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #a9a9a9;
  position: absolute;
  top: 20px;
  right: 20px;
}

.testimonial-text {
  font-size: 16px;
  color: #333;
  margin-top: 80px;
  text-align: left;
  line-height: 1.5;
}
.client-info {
  display: flex;
  align-items: center;
  margin-top: 270px;
}

.client-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.client-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.client-title {
  font-size: 14px;
  color: #666;
  margin: 0;
}

@media (max-width: 1200px) {
  .testimonials {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }
}

@media (max-width: 768px) {
  .testimonials {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }
}

/*DEVS*/
#CMYK-developer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: top;
  padding: 20px;
}
.three-circles-container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-right: 20px;
}

.dev-content h2 {
  color: white;
  font-size: 150px;
  padding-left: 50px;
}

/* Styling the circle */
.white-circle {
  background-image: url("/images/three-circles.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0 auto;
  position: relative;
  padding-top: 0;
  cursor: pointer;
}
.letter {
  position: absolute;
  font-size: 30px;
  color: white;
  text-align: right;
  transform: translateX(-65px);
  z-index: 2;
}

/*Dev image*/
.dev-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
}

.dev-image img {
  max-width: 100%;
  height: auto;
  padding-bottom: 3.5%;
  cursor: pointer;
}
.name-section {
  padding-top: 240px;
  color: white;
  text-align: left;
}
.name-section .name {
  margin: 10px 0;
  font-size: 50px;
}

.name-section .website {
  font-size: 25px;
}

/*Portfoilios*/

.portfolio-content-container {
  padding-top: 8%;
  background-color: #efefef;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  align-items: start;
}
.portfolio-text-container {
  grid-column: span 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.portfolio-content-text h2 {
  font-size: 60px;
  padding-left: 3%;
}

.portfolio-content-text-h3 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 100;
  padding-right: 50px;
}

.search-bar {
  margin-top: 10px;
  margin-left: 3%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-bar input {
  width: 200px;
  height: 30px;
  padding-left: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  outline: none;
}

.image-gallery {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 80px;
}
.image-gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.portfolio-list-container {
  background-color: #efefef;
}
.portfolio-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 4 columns */
  grid-gap: 5px;
  padding: 20 20;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 20%;
}

.portfolio-list p {
  margin: 0;
  font-size: 16px;
  margin-top: 3%;
  transition: font-weight 0.2s ease;
}

.portfolio-list p:hover {
  font-weight: bold;
}

/* About IDP */
#about-idp h2 {
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  font-family: sans-serif;
  color: #1a1a1a;
  padding-top: 50px;
  padding-bottom: 20px;
}

#about-idp h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  line-height: 3.8rem;
  padding-bottom: 30px;
  letter-spacing: 0.1rem;
}

.course-description {
  text-align: center;
  padding-bottom: 50px;
}

.services-container {
  align-items: center;
}

@media (max-width: 1200px) {
  .services-container {
    display: none;
  }
}

@media (min-width: 1200px) {
  .services-container-m {
    display: none;
  }
}

.services-box {
  margin: 0 20px;
  text-align: center;
}

.services-box h3 {
  position: relative;
  top: 50px;
  font-size: 2.5rem;
}

.services-box p {
  background-color: #e2231a;
  opacity: 70%;
  color: white;
  border-radius: 20px;
  margin: 10px;
  padding: 20px 15px;
  position: relative;
  top: -200px;
  display: none;
}

.services-box:hover p {
  display: block;
  cursor: pointer;
}

.services-box img,
.services-box-m img {
  border-radius: 10px;
}

.services-box-m img {
  width: 100%;
}

.services-box-m {
  text-align: center;
}

.services-box-m h3 {
  font-size: 2.5rem;
  padding-top: 20px;
  padding-bottom: 15px;
}

.services-box-m p {
  padding-bottom: 40px;
}

.services-box-m p :last-child {
  padding-bottom: 60px;
}

#idp-description {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
}

#idp-description h3 {
  font-size: 1.5rem;
  font-family: sans-serif;
}

#idp-signature {
  padding-bottom: 50px;
}

#idp-signature img {
  padding-top: 20px;
}

#idp-signature h3 {
  padding-top: 1rem;
  font-family: sans-serif;
  font-weight: bold;
}

@media (max-width: 768px) {
  #idp-signature {
    text-align: centre;
  }
}

#idp-weblink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

#idp-weblink button {
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 22px;
  border: 0.5px solid #65656b;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

#idp-weblink button:hover {
  background-color: #646469;
  color: white;
}

/*footer*/
footer {
  background-color: #e2231a;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-logo img {
  height: 3rem;
}

.social-media a,
.social-media-m a {
  text-decoration: none;
}

.social-media img,
.social-media-m img {
  height: 1.2rem;
  margin: 15px;
}

footer p {
  color: white;
  font-size: 1.2rem;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }

  .footer-m {
    gap: 20px;
    align-items: center;
  }

  .footer-m p {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  .footer-m {
    display: none;
  }
}
