@use "../abstracts" as a;
@use "../components" as b;
@use "../base/" as c;
@use "../base/typography" as t;

// Hero Section

#hero_section {
  background-color: a.$white;
  position: relative;

  #hero_vid {
    width: 100%;
    height: 90vh;
    background-color: pink;
  }

  #hero_desc_box {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 48px 24px;
    justify-content: space-between;

    p b {
      color: a.$sec-red;
    }

    button {
      width: 200px;
    }
  }

  // * Tablet Screen

  @media screen and (max-width: 768px) {
    #hero_desc_box {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 48px;

      button {
        grid-column: 1/-1;
        order: 3;
      }
    }

    #hero_desc_box p:first-of-type {
      transition: opacity 0.5s ease;
      opacity: 1;
    }

    .hide {
      opacity: 0;
    }

    #hero_desc_box p:nth-child(3) {
      display: none;
    }
  }

  //   * Mobile Screen

  @media screen and (max-width: 414px) {
    #hero_desc_box {
      display: flex;
      flex-direction: column;
      p {
        text-align: center;
      }
    }
  }
}

// Industry Night Section
#industry_night_promo_video {
  position: relative;
  background-color: skyblue;
  width: 100%;
  height: 100vh;

  video {
    width: 100%;
    height: 100%;
    background-color: a.$black;
  }

  #industry_night_promo_video_desc {
    position: absolute;
    color: a.$white;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-shadow: a.$light-shadow;

    h2 {
      text-align: center;
      font-family: a.$voltune-font;
      font-size: 10rem;
      font-weight: 400;
      line-height: 0.9;

      span {
        font-family: a.$voltune-font;
        font-size: 4rem;
      }
    }

    #play_video i {
      font-size: 3rem;
    }

    p {
      width: 40%;
      padding: 48px 0;
      text-align: center;
    }
  }

  @media screen and (max-width: 414px) {
    #industry_night_promo_video_desc {
      h2 {
        font-size: 6rem;

        span {
          font-size: 2.5rem;
        }
      }

      p {
        width: 100%;
        padding: 24px 12px;
      }
    }
  }
}

#industry_night_desc {
  background-color: a.$black;
  position: relative;
  overflow: hidden;

  #industry_night_desc-img {
    padding: 96px 96px 48px 96px;
    z-index: 99;
  }
}

#industry_night_hl {
  grid-column-start: 3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
  padding: 0 24px;

  div {
    align-items: center;
    text-align: center;
    width: 35%;

    h3 {
      font: a.$voltune-h3;
      font-weight: 400;
      opacity: 0.9;
      color: a.$white;
      margin: 48px 0 24px 0;
      text-shadow: a.$light-shadow;
    }

    p {
      color: a.$white;
      opacity: 0.8;
    }
  }
}

#industry_night_desc::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -50%;
  width: 500px;
  height: 809.48px;
  background: #f41102;
  transform: rotate(-34.58deg);
  transform-origin: 0 0;
  box-shadow: 267.8px 267.8px 267.8px;
  border-radius: 9999px;
  filter: blur(267.8px);
}

#industry_night_desc::after {
  content: "";
  position: absolute;
  top: 40%;
  width: 436.73px;
  height: 545.76px;
  background: #ff9600;
  transform: rotate(103.45deg);
  transform-origin: 0 0;
  box-shadow: 256.4px 256.4px 256.4px;
  border-radius: 9999px;
  filter: blur(256.4px);
}

#industry_night_event_details {
  padding-bottom: 96px;
  grid-column-start: 2;
  color: a.$white;
  display: flex;
  justify-content: space-between;
  margin-top: 96px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    text-align: center;

    h3 {
      font: a.$voltune-h3;
      font-size: 2.5rem;
      text-shadow: a.$light-shadow;
      margin: 48px 0 24px 0;
    }

    h4 {
      font-weight: 400;
      font-size: 0.75rem;
      margin: 16px;
      opacity: 0.5;
    }

    p {
      color: a.$white;
      opacity: 0.85;
      margin-bottom: 8px;
    }

    span {
      font-size: 0.8rem;
      opacity: 0.7;
    }

    button {
      width: 50%;
      margin-top: auto;
      text-wrap: nowrap;
    }
  }
}

// * Tablet Screen
@media screen and (max-width: 768px) {
  #industry_night_desc {
    #industry_night_desc-img {
      padding: 48px;
    }
  }

  #industry_night_hl {
    padding: 0;

    div {
      h3 {
        font-size: 3.5rem;
      }
    }
  }

  #industry_night_event_details {
    padding: 0 24px;
    div {
      flex: 0 0 30%;

      .btn_style_3 {
        width: 60%;
      }
    }
  }
}

// * Mobile Screen
@media screen and (max-width: 414px) {
  #industry_night_desc {
    #industry_night_desc-img {
      padding: 24px;
    }
  }
  #industry_night_hl {
    div {
      flex: 1 0 100%;
      h3 {
        font-size: 3rem;
      }
      p {
        padding: 0 48px;
      }
    }
  }

  #industry_night_event_details {
    flex-wrap: wrap;
    margin-top: 48px;
    padding: 0 24px 64px 24px;

    div:nth-child(even) {
      order: 1;
      flex: 1 0 100%;
    }

    div:nth-child(odd) {
      order: 2;
      flex: 0 0 50%;
    }
  }
}

// In cooperation Section

#cooperation_container {
  position: relative;

  #cooperation_container_img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}

#cooperation_title {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  padding: 48px 24px;

  h2 {
    color: a.$white;
  }

  .section_subname {
    color: a.$white;
    text-transform: uppercase;
    padding-right: 96px;
  }
}

#cooperation_text {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: a.$white;
  bottom: 0;
  padding: 48px;
  text-align: center;

  h3 {
    font: a.$voltune-h3;
    font-size: 14rem;
    line-height: 0.8;
  }
}

#cooperation_text p:first-of-type {
  font-size: 2.5rem;
}

#cooperation_text p:last-child {
  width: 40%;
  padding: 24px 48px 24px 0;
  margin-left: auto;
  text-align: left;
}

// Tablet Screen
@media screen and (max-width: 768px) {
  #cooperation_title {
    justify-content: center;
  }

  #cooperation_text {
    h3 {
      font-size: 11rem;
    }
  }
  #cooperation_text p:first-of-type {
    font-size: 1.8rem;
    text-wrap: nowrap;
  }

  #cooperation_text p:last-child {
    width: 100%;
    padding: 24px 48px 24px 0;
    margin-left: auto;
    text-align: center;
  }
}

// Mobile Screen
@media screen and (max-width: 414px) {
  #cooperation_text {
    width: 100%;
    height: 90%;
    padding: 12px;
    justify-content: space-around;
    h3 {
      font-size: 8rem;
    }
  }

  #cooperation_text p:first-of-type {
    margin-top: auto;
    font-size: 1.25rem;
    text-wrap: wrap;
  }

  #cooperation_text p:last-child {
    padding: 28px;
    font-size: 1rem;
  }
}
