@use "../abstracts" as a;
@use "../components" as b;
@use "../base/" as c;
@use "../base/typography" as t;

#about_idp_section {
  padding-top: 96px;
}

#about_idp_intro {
  grid-column-start: 4;
  text-align: center;

  h2 {
    margin-top: 48px;
    text-transform: uppercase;
    font-family: a.$voltune-font;
    font-size: 8rem;
    font-weight: 400;
    line-height: 1;
    color: a.$sec-red;
  }

  p {
    margin: 24px 0;
  }
}

.section_subname {
  font-weight: 600;
  text-transform: uppercase;
  color: a.$black;
}

#idp_card_box {
  width: 100%;
  margin-top: 36px;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.idp_card {
  display: flex;
  flex-direction: row;
  height: 400px;
  flex: 0 0 30%;
  border-radius: 24px;
  background: #e0e0e0;
  box-shadow: -14px 14px 38px #d9d9d9, 14px -14px 38px #e7e7e7;
  img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    object-fit: cover;
  }

  h3 {
    font: a.$voltune;
    margin: 36px 0;
    text-align: center;
    display: none;
  }

  p {
    text-align: center;
    display: none;
  }
}

#idp_text_lightbox {
  visibility: hidden;
  display: grid;
  width: 70vw;
  place-items: center;
  color: a.$white;
  margin: 40px auto;
  padding: 48px 48px;
  position: absolute;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  text-align: center;
  transition: opacity 0.5s ease;
  opacity: 0;
  background-color: rgba(247, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: a.$box-shadow;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  z-index: 9999;

  h3 {
    font: a.$voltune;
    margin-bottom: 24px;
  }
}

#idp_text_lightbox.visible {
  visibility: visible;
  opacity: 1;
}

#idp_letter {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 3;
  margin-top: 96px;

  blockquote {
    font-size: 2rem;
    text-align: center;
  }

  a {
    font-size: 1.25rem;
    border: none;
    background-color: a.$sec-red;
    color: a.$white;
    text-align: center;
    width: 200px;
    padding: 15px;
    margin: 24px 0 48px 0;
  }
}

#prof_cite {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-left: auto;
  span {
    width: 200px;
    height: 30px;
    margin-bottom: 16px;
  }
  cite {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
  }
  p {
    font-family: a.$voltune-font;
    font-size: 1.5rem;
    color: a.$sec-red;
  }
}

// !Tablet Screen
@media screen and (max-width: 768px) {
  #about_idp_intro {
    grid-column-start: 2;
  }

  #idp_card_box {
    flex-direction: column;
    grid-column-start: 2;
  }

  .idp_card {
    flex-direction: column;
    flex: none;
    height: auto;
    margin-bottom: 50px;
    box-shadow: unset;
    background-color: transparent;

    img {
      height: 250px;
      box-shadow: -10px 10px 30px #d9d9d9, -10px 10px 30px #e7e7e7;
    }

    h3 {
      display: block;
    }

    p {
      display: block;
    }
  }

  #idp_letter {
    grid-column-start: 2;

    blockquote {
      font-size: 1.5rem;
    }

    a {
      margin: 96px 0 48px 0;
      text-align: center;
      width: 200px;
      padding: 15px;
    }
  }

  .section_subname {
    writing-mode: unset;
    position: unset;
  }

  #idp_text_lightbox {
    display: none;
  }

  #prof_cite {
    margin-top: 48px;
    margin-left: 0;
    align-items: center;
    span {
      width: 200px;
      height: 30px;
      margin-bottom: 24px;
    }
    cite {
      font-size: 1.25rem;
    }
    p {
      font-size: 1.25rem;
    }
  }
}

// !Mobile Scree
@media screen and (max-width: 580px) {
  #about_idp_intro {
    grid-column-start: 1;
  }

  .section_subname {
    display: block;
  }

  #idp_card_box {
    grid-column-start: 1;
  }

  .idp_card {
    height: auto;

    h3 {
      margin: 36px 0 16px 0;
    }
    p {
      padding: 0 24px;
    }
  }

  #idp_letter {
    grid-column-start: 1;

    blockquote {
      font-size: 1.35rem;
    }
  }
}
