@use "../abstracts" as a;
@use "../components" as b;
@use "../base/" as c;
@use "../base/typography" as t;

#developer_section {
  height: auto;
  background-color: a.$black;
  overflow: hidden;
}

#developer_title {
  grid-column-start: 2;

  .section_name {
    font-size: 6rem;
    color: a.$white;
  }
}

#dev_container {
  display: flex;
  grid-column-start: 2;
}

#dev_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  align-self: flex-start;
  p,
  a,
  span {
    color: a.$white;
  }

  p {
    font-size: 2.25rem;
  }

  a {
    font-size: 1.5rem;
    font-weight: 600;
  }

  span {
    display: grid;
    text-align: center;
    place-items: center;
    width: 30px;
    height: 30px;
    padding: 8px;
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translateX(100%);
  }
}

#cmyk_wheel {
  width: 120px;
  height: 120px;
  position: relative;
  margin-right: 24px;
}

#cmyk_wheel img {
  transition: transform 0.5s ease;
}

.rotated {
  transform: rotate(360deg);
}

#dev_img {
  width: 400px;
  height: 300px;
  background-image: url(../images/dev_1.jpg);
  grid-row: span 2;
  align-self: center;
  border-radius: 150px;
  margin: 24px;
  background-position: center;
  background-size: cover;
}

// !Tablet Screen
@media screen and (max-width: 768px) {
  #developer_title {
    grid-column-start: 1;
    padding-left: 24px;

    .section_name {
      font-size: 4rem;
    }
  }

  #dev_img {
    width: 300px;
    height: 210px;
    justify-self: end;
    grid-row: span 2;
  }

  #dev_container {
    padding: 24px;
    grid-column: span 3;
    justify-content: space-between;
    position: relative;
  }

  #dev_name_and_portfolio {
    position: absolute;
    top: 40%;
    left: 45%;
  }

  #dev_name {
    width: 400px;
  }

  #dev_box {
    top: -36px;
    left: 24px;
    p {
      font-size: 1.45rem;
    }
    a {
      font-size: 1rem;
    }
    span {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 414px) {
  #developer_title {
    height: auto;
    padding: 8px 16px;
    .section_name {
      font-size: 3rem;
    }
  }

  #dev_img {
    margin: 16px;
    width: 160px;
    height: 120px;
    justify-self: end;
    grid-row: span 1;
  }

  #dev_container {
    grid-column: span 4;
    padding: 0 24px;
  }

  #dev_name_and_portfolio {
    position: unset;
    width: 50%;
  }

  #dev_box {
    justify-content: start;
    align-items: center;

    p {
      font-size: 1.45rem;
    }
    a {
      font-size: 1rem;
    }
    span {
      display: none;
    }
  }

  #cmyk_wheel {
    display: flex;
    align-items: center;
    width: 80px;
    img {
    }
  }

  span {
    display: none;
  }
}
