@use "../abstracts" as a;
@use "../components" as b;
@use "../base/" as c;
@use "../base/typography" as t;

#portfolio_section {
  overflow: hidden;
  background-color: #efefef;
}

#portfolio_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  padding: 48px 24px 0px 24px;

  .section_name {
    color: a.$black;
    font-size: 5rem;
  }

  .section_subname {
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 96px;
    color: a.$black;
  }
}

#search_portfolio_box {
  display: flex;
  align-items: center;
  padding: 24px 0px 24px 24px;

  input {
    width: 100%;
    height: 2rem;
    margin-left: 8px;
    background-color: rgba(#333, 0.05);
  }
}

#student_preview {
  width: 100%;
  display: flex;
  justify-content: center;

  #student_portrait {
    width: 200px;
    height: 100px;
    background-color: pink;
  }

  #student_abstract_image {
    width: 400px;
    height: 100px;
    background-color: beige;
  }
}

#student_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 96px 0;

  grid-column-start: 3;
  width: 150%;
  height: 500px;
  column-gap: 16px;
  row-gap: 32px;

  li {
    width: 200px;
    text-wrap: nowrap;
    font-size: 2rem;
    transition: a.$normal-trans;
  }
}

#student_list li:hover {
  font-weight: 600;
}

// !Tablet Screen

@media screen and (max-width: 768px) {
  #portfolio_title {
    .section_name {
      margin-right: auto;
    }
    .section_subname {
      left: auto;
      right: 0;
      padding: 0 24px;
    }
  }

  #student_preview {
    grid-column-start: 2;

    #student_portrait {
      width: 200px;
      height: 100px;
      background-color: pink;
    }

    #student_abstract_image {
      width: 400px;
      height: 100px;
      background-color: beige;
    }
  }

  #student_list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-column-start: 4;
    row-gap: 16px;

    li {
      width: 200px;
      text-wrap: nowrap;
      font-size: 2rem;
      transition: a.$normal-trans;
    }
  }
}

// !Mobile Screen
@media screen and (max-width: 414px) {
  #search_portfolio_box {
    padding: 24px;
    grid-column: span 4;
  }

  #student_list {
    grid-column-start: 2;
    margin: 48px 0;

    li {
    }
  }
}
